---
import P5Sketch from "../components/P5Sketch";
import P5Sketch2 from "../components/P5Sketch2";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Camara</title>
    </head>
    <body>
        <P5Sketch client:only />
        <P5Sketch2 client:only />
    </body>
</html>
